*{
    font-family: Arial, Helvetica, sans-serif;
    color: #180e56;
    text-decoration: none;
    /* width: min-content; */

}

.topNav {
    overflow: hidden;
    width: 90%;
    height: 20%;
    z-index: 1;
    padding:1rem;
    height:5em;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.form{
    display:flex;
    /* align-items:center; */
    padding:1rem;
    justify-content:center;


}

form{
    border:none;
    box-shadow: 1px 1px 5px blueviolet;
    padding:2rem 4rem;
}

form div{
    padding:.5rem;
}

input, button{
padding:.5rem;
}

.loginbtn{
    /* color:#ffffff; */
    /* background-color: blue; */
    /* fon */
}

.cancelbtn{
    /* color:#ffffff;
    background-color:red; */
}

button{
    border:none;
}

.logo{
    display: flex;
    align-items: center;
}